.container{
background: linear-gradient(0deg, rgba(233, 229, 29, 0.994) 0%, rgb(218, 21, 21) 100%);
}
img[alt="img"]{
    width:200px;
    margin-left:50px;
}
img[alt="png"]{
    width: 430px;
}
tr,td{
    font-family: Georgia, serif;
    font-weight: bold;
    border: 2px solid rgb(88, 49, 124);
    background-color: rgb(198, 178, 218);
    
}
tbody{
    padding: 50px;
    border: 5px solid rgb(88, 49, 124);

}
.row{
    background-color: rgb(170, 170, 238);
    padding: 6px;
    box-shadow: 20px;
}
#img{
    
background: radial-gradient(circle, rgb(0, 182, 253) 0%, rgb(73, 111, 127) 100%);
}
img:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    transition: 0.8s;
}
button[type="button"]{
    width: 200px;
    margin: 5px;
    margin-bottom: 30px;
}
